
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none;
}
a{
    text-decoration:none;
    color:#4b5866;
    transition: color 1.5s ease;
}
.main-footer{
    background-image: radial-gradient(at top,#335175,#111924);
    display:flex;
}

.main-header{
    background-color:#f0f1f3;
}
.top-header{
    background-color:#0b1016;
}

.main{
    background-color: #f0f1f3;
}
.footer h2{
    color: whitesmoke;
}
.footer a{
    color: whitesmoke;
}
.footer{
    color:#4b5866;
}
.date-div{
    color:whitesmoke;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    padding:16px;
    line-height: 0.5;
}
.date{
    padding-left:5px;
}
.date-one{
    background-color:#be8544;
}
.date-two{
    background-color:#be6342;
}
.date-three{
    background-color: #bb435c;
}
.colophon{
    background-color:#0b1016;
}
.button-b{
    transition:background-color 1.5s ease;
}
.button-b:hover{
    background-color:#fc8a01;
}
a:hover{
    color:yellow;
}
@media(max-width: 992px){
    .date-div{
        width:65px;
        height:65px;
        font-size: 15px;
        padding: 8px;
    }
    .news-list-item{
        padding: 9px;
    }
    .opportunities-list{
        padding:8px;
    }
    .date, .month{
        margin: 9px;
        line-height: 1;
    }
    .footer h3{
        font-size:small;
    }

}

@media(max-width:768px){
    .main-nav{
        padding-top:12px;
    }
    .footer h3{
        font-size:smaller;
    }
    .footer{
        font-size: small;
    }
    /* .news-list-item{
        display:flex;
    } */
    .date-div{
        width: 45px;
        height:45px;
        padding: 10px;
    }
    .date, .month{
        margin: 0;
        line-height: 1;
    }
    .parent{
        position:relative;
        height:32vh;
    }
    .more-f{
        position:absolute;
        bottom:0;
    }
}

@media(max-width: 576px){
    .top-header{
        display:none;
    }       
    .logo{
        display:flex;
        justify-content: center;
    }
    .main-footer{
        background-image:radial-gradient(at left,#335175,#111924);
        display:flex;
        flex-direction: column;
    }
    .main-f-div{
        flex-direction: column;
    }
    .news-list-item{
        display:flex;
        justify-content: space-between;
        margin: 15px 0;
    }
}